@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}


/* Header */
header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}


/* Section 01 - Hero */
.section-01 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 80px;
    gap: 40px;
}

.info {
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}


/* Section 02 - Canvas */
.section-02 {
    background-color: #F9FAF8;
    padding: 56px 80px;
    padding-bottom: 140px;
    text-align: center;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
}

.info-canvas {
    width: 180px;
    text-align: center;
}


/* Section 03 - Quote */
.section-03 {
    background-color: #E5E7EB;
    display: flex;
    padding: 120px 200px;
    flex-direction: column;
}

.quote,
.author {
    color: #1F2937;
}

.quote {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 10px;
}

.author {
    font-weight: 900;
    font-size: 24px;
    align-self: flex-end;
}


/* Section 04 */
.section-04 {
    background-color: #F9FAF8;
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    padding: 40px 100px;
    align-items: center;
}

.info-card {
    margin-right: 180px;
}

.call {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.call-subtext {
    color: #F9FAF8;
}


/* Footer */
footer {
    background-color: #1F2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #E5E7EB;
}

.secondary-text {
    color: #E5E7EB;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 20px;
    width: 170px;
    height: 170px;
    margin-bottom: 8px;
}

.button {
    box-sizing: border-box;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}

.button:hover {
    cursor: pointer;
}

.filled {
    background-color: #3882F6;
}

.unfilled {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
}

h1,
h2,
ul,
p {
    margin: 0;
    padding: 0;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 56px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

p {
    color: #6D747D;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}